<div class="box">
  <article class="media">
    <div class="media-content">
      <div class="content">
        <p>
          <strong><%= comment.author %> - </strong>
          <%= comment.body %>
        </p>
      </div>
    </div>
  </article>
</div>
